<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vam.mapper.ChatMapper">

	<select id="list" resultType="com.vam.VO.ChattingVO">
		SELECT * FROM tbl_chat
	</select>
	
	<insert id="insert">
			SET foreign_key_checks = 0;
			INSERT INTO tbl_chat(sender,message) VALUES(#{sender},#{message});
			SET foreign_key_checks = 1;
	</insert>
	
	<delete id="delete">
			DELETE FROM tbl_chat WHERE id=#{id}
	</delete>
	
	<select resultType="int" id="last">
			SELECT MAX(id) FROM tbl_chat
	</select>
	
</mapper>