<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.vam.mapper.MemberMapper">
       <insert id="memberJoin">
        <!-- Specify column names in the VALUES clause -->
        INSERT INTO member (memberNo, id, password, nickName, email, addr1, addr2, phone, regDate, adminCk)
        VALUES (NULL, #{id}, #{password}, #{nickName}, #{email}, #{addr1}, #{addr2}, #{phone}, now(), 0)
    </insert>
    
    <!-- 아이디 중복검사 -->
    <select id="idCheck" resultType="int">
    	select count(*) from member where id = #{id}
    </select>
    
    <!-- 로그인 -->
    <select id="memberLogin" resultType="com.vam.VO.MemberVO">
    	select id, password, nickname, adminCk, manner from member where id = #{id} 
    </select>
    </mapper>