<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vam.mapper.TransationMapper">
	<resultMap id="memberResultMap" type="com.vam.VO.MemberVO">
		<id property="memberNo" column="memberNo" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="nickName" column="nickName" />
		<result property="email" column="email" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="phone" column="phone" />
		<result property="adminCk" column="adminCk" />
		<result property="regDate" column="regDate" />
		<result property="image" column="image" />
		<result property="manner" column="manner" />
	</resultMap>

	<resultMap id="productResultMap" type="com.vam.VO.ProductVO">
		<id property="productNo" column="productNo" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="img" column="img" />
		<result property="categori" column="categori" />
		<result property="price" column="price" />
		<result property="content" column="content" />
		<result property="viewcount" column="viewcount" />
		<result property="chatcount" column="chatcount" />
		<result property="address" column="address" />
		<result property="regDate" column="regDate" />
		<result property="likecount" column="likecount" />
		<collection property="mvo" resultMap="memberResultMap" />

	</resultMap>
	<resultMap id="chatResultMap" type="com.vam.VO.ChatVO">
		<id property="chatNo" column="chatNo" />
		<result property="productNo" column="productNo" />
		<result property="content" column="content" />
		<result property="memberNo" column="memberNo" />
		<collection property="pvo" resultMap="productResultMap" />
		<collection property="mvo" resultMap="memberResultMap" />
	</resultMap>

	<select id="productGetDetail" resultType="com.vam.VO.ProductVO">
		select * from product
		where productNo = #{productNo}
	</select>

	<select id="productList" resultType="com.vam.VO.ProductVO">
		select * from product where
		categori= #{categori}
	</select>
	<select id="getMemberAndProduct" resultMap="productResultMap">
		select * from product JOIN member ON member.nickName = product.writer
		WHERE
		productNo = #{productNo}
	</select>
	<update id="increaseViewCount" parameterType="int">
		UPDATE product
		SET viewcount = viewcount + 1
		WHERE productNo = #{productNo}
	</update>
	
	<insert id="insertChat" >
		insert into chat (chatNo, productNo, content, memberNo) values (null, #{productNo}, #{content},#{memberNo})
	</insert>
	<select id="selectChat" resultMap="chatResultMap">
    SELECT chat.chatNo, chat.productNo, chat.content , chat.memberNo, member.nickName, member.addr2
    FROM chat JOIN product ON chat.productNo = product.productNo JOIN member ON chat.memberNo = member.memberNo
    WHERE chat.productNo =#{productNo} order by chatNo desc;
	</select>
	
	<delete id="deleteComment">
		delete from chat where chat.chatNo=#{chatNo}
	</delete>
</mapper>

  