* {
  margin: 0;
  padding: 0;
}
.chattingPage_container {
  width: 100%;
  margin-top: 100px;
  height: 100%;
}

.chattingPage_div {
  width: 100%;
  height: 100%;
  display: flex;
}

.chattingPage_aside {
  width: 30%;
  height: 100%;
  background-color: bisque;
}
.chattingPage_title {
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 700;
  font-size: 20px;
}
.chattingPage_main {
  width: 70%;
  height: 100%;
  background-color: yellow;
}
.chattingPage_profile_div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.chattingPage_profile_sub_info {
  display: flex;
  align-items: start;
  width: 60%;
}
.chattingPage_profile_img > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.chattingPage_profile_img {
  width: 50%;
  margin-right: 1%;
}
.chattingPage_profile_info {
  width: 100%;
  margin-left: 5%;
}
.chattingPage_profile_name {
  margin-bottom: 3%;
}
.chattingPage_profile_content {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #828686;
}
.chattingPage_date_div {
  width: 30%;
  text-align: end;
  font-size: 12px;
  color: #828686;
}
.chattingPage_main {
  width: 100%;
  height: 100%;
}
.chattingPage_main_profile_container {
  width: 100%;
  height: 10vh;
  align-items: center;
  display: flex;
}
.chattingPage_main_profile_div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.chattingPage_button {
  display: flex;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}
.chattingPage_main_product_info {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.chattingPage_main_product_info_div {
  width: 100%;
  padding: 0px 20px;
}
.chattingPage_product_img {
  margin-right: 5%;
}
.chattingPage_product_img > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 3%;
}

.chattingPage_main_product_sub_info_div {
  display: flex;
  align-items: start;
  width: 60%;
}
.chattingPage_profile_product_title > span {
  font-size: 15px;
  font-weight: 500;
}
.chattingPage_profile_product_price {
  font-size: 15px;
  font-weight: 700;
}
.chattingPage_button {
}
.chattingPage_button_margin > input {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: black;
  font-weight: 700;
}
@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

.chat_wrap .header {
  font-size: 14px;
  padding: 15px 0px;
  background: #f18c7e;
  color: white;
  text-align: center;
}

.chat_wrap #chat {
  padding-bottom: 100px;
  width: 100%;
}

.chat_wrap #chat .left {
  text-align: left;
}

.chat_wrap #chat .right {
  text-align: right;
}

.chat_wrap #chat {
  font-size: 12px;
}

.chat_wrap #chat .sender {
  margin: 10px 25px 0px 10px;
  font-weight: bold;
}

.chat_wrap #chat .message {
  display: inline-block;
  margin: 5px 20px 0px 10px;
  max-width: 75%;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  background-color: #fcfcfc;
  text-align: left;
}

.chat_wrap #chat .date {
  margin: 5px 20px 10px 10px;
  font-size: 10px;
}

.chat_wrap .input-div {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #f18c7e;
}

#txtMessage {
  width: 100%;
  height: 80px;
  border: none;
  padding: 5px;
}
