*{
    padding: 0;
    margin: 0;
    outline: 0;
}

#header{
 width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

iframe {
    border: none;
    display: block;
    width: 100%;
}
.Main_main{
	width:100%
}
.Main_a{
    padding-top: 5%;
    background-color: #FFFAE0;
}
.Main_a_Top{
	width:100%;
}
.Main_a_div{
    display: flex;
    margin: 0 auto;
	justify-content:center;
    padding: 5%;
    background-color: #FFFAE0;
    margin-top: 2%
}
.Main_a_Top > .Main_a_Title{
    width: 45%;
    margin: 0 auto;
    margin-left: 20%;
    padding: 5%;
    background-color: #FFFAE0;
}

.Main_a_Top > .Main_a_div>.Main_a_Title > .Main_a_Text{
    font-size: 54px;
    font-weight: 700;
    line-height: 73px;
    margin-bottom: 3.2rem;
}

.Main_a_Title > .Main_desc{
    font-weight: 400;
    font-size: 20px;
    color: #7c7c7c;
    line-height: 30px;
}

.Main_a_Button > .Main_aa_Button{
	margin-top: 3%;
    width: 30%;
    border-radius: 10px;
    background-color: #FF6B00;
    box-sizing: border-box;
    text-decoration: none;
    padding: 12px 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.Main_a_Logo{
    width: 100%;
    height: auto;
}
.Main_b{
    background-color: #f9f9f9;
}

.Main_b > .Main_b_Content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.Main_Service{
    font-weight: 700;
    font-size: 18px;
    color: #FF6F0F;
    margin-bottom: 10%;
}

.Main_Title1{
    font-size: 42px;
    line-height: 57px;
    margin-bottom: 10%;
}

.Main_desc{
    font-weight: 400;
    font-size: 20px;
    color: #7c7c7c;
    line-height: 30px;
}

.Main_b_Button{
    margin-top: 3.2rem;
}

.TextBtn{
    font-size: 18px;
    line-height: 23.76px;
    font-weight: 700;
    background-color: #E9ECEF;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 12px 2rem;
    display: inline-block;
    margin-right: 10px;
}

.Main_c{
    background-color: #FFF8F1;
}

.MainImg2{
    height: 70%;
}

.Main_c_Content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 15%;
}

.Main_d{
    background-color: #f9f9f9;
}

.Main_d_Content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.Main_e{
    background-color: #F6FDEC; 
}

.Main_e_Content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.Main_aa_Button:hover{
    background-color: #d9600f;
}

.TextBtn:hover{
    background-color: #dedfe0;
}