@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main_content {
  width: 100%;
  position: relative;
}

.content_header {
  width: 100%;
  background-color: #f4f6f9;
  height: auto;
}
.content_div {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_title {
  padding: 0px 40px;
}
.content_categori {
  width: 30%;
}
.driver_list_div {
  width: 100%;

  padding: 20px 40px;
}
.driver_list > span {
  font-size: 20px;
}
.driver_search_div {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
.driver_search_title {
  margin-right: 2%;
}
.driver_search_input > input {
  padding: 5px 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead,
tbody {
  width: 100%;
}
.driver_table_tr {
  width: 90%;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  border-bottom: 2px solid #dee2e6;
  align-items: center;
}
.driver_table_tbody_tr {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
td,
th {
  text-align: center;
  width: 25%;
  padding: 10px 40px;
  border: 1px solid #dee2e6;
}

td > span {
  text-decoration: none;
  color: #007bff;
  font-weight: 700;
  cursor: pointer;
}
td > span:hover {
  text-decoration: none;
  color: #0056b3;
  font-weight: 700;
  cursor: pointer;
}
.button_container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.page_button {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 700;
  margin: 0 10px 0px 10px;
}
.page_button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  margin: 0 10px 0px 10px;
}
.main_header_container {
  position: relative;
  background-color: #e6e6e6;
}
.maing_header_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_button_div {
  width: 25%;
}

.main_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-color: #f5f5f7;
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow-y: scroll;
}

.brand_link {
  text-align: center;
  display: block;
  padding: 13px 8px;
  border-bottom: 1px solid #4b545c;
}
.brand_text {
  font-size: 25px;
  font-weight: 700;
}
.nav_item_title {
  padding: 15px 10px;
}
.nav_item_title > span {
  font-size: 15px;

  font-weight: 700;
}
.nav_item_a {
  padding: 10px 40px;
}
.nav_item_a:hover {
  background-color: #ffb98b;
}
.nav_item_a > a {
  text-decoration: none;
}
.nav_item_a > a > span {
  font-size: 15px;
  color: black;
  font-weight: 700;
}

/* 컨텐트 영역 */

.content_div {
  width: 100%;
}
.const_width_div {
  width: 80%;
  margin: 0 auto;
}
.content_font {
  font-size: 25px;
  font-weight: 700;
}
.content_font > span {
  width: 25%;
  text-align: center;
}
.content_ul_div {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}
.content_ul_div > ul {
  list-style: none;

  width: 100%;
  height: 900px;
}
.content_ul_div > ul > li {
  position: relative;
  margin: 1% 1% 0% 0%;
  float: left;
  width: 200px;
  height: 280px;
  text-align: start;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
}
.content_ul_div > ul > li > div > span {
  color: #ffffff;
  font-size: 18px;
}
.detail_font {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 2%;
}
.pTag {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 2%;
}
.price {
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 2%;
}
.button_div2 {
  position: absolute;
}
.button_div2 > span {
  margin-top: 15%;
  font-size: 10px;
  margin: 4px 3px 0px 0px;
  border: none;
  color: #868e96;
  cursor: pointer;
}
.last_li {
  float: left;
  width: 20.5%;
  height: 320px;
  margin: 1% 1% 0% 0%;

  background-color: #03166c;
  box-sizing: border-box;
}
.last_li > div > span {
  color: #ffffff;
  font-size: 18px;
  margin-top: 5%;
  padding: 10px 20px;
}
.last_li:hover {
  background-color: #425dd9;
}

.content_ul > ul > li {
  position: relative;
  margin: 1% 1% 0% 0%;
  float: left;
  height: 320px;
  text-align: start;
  border: 1px solid black;
  background-color: black;
  padding: 10px 20px;
  font-size: 25px;
  height: 320px;
}
