
a{
    text-decoration: none;
    color: black;
}

.container {
    width: 50%;
    margin-top:100px;
    margin: 50px auto;
    padding: 8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20%;
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
}

.form-group > .username, 
.form-group > .password {
    width: 100%;
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group1 > .remember{
    margin-left: -5%;
}

.form-group1 > .keepLoggedIn{
    margin-left: 30%;
}

.form-group2 {
    margin-top: 5%;
}

.form-group2 > .submit{
    width: 104%;
    background-color: #FF6B00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
    border: 1px solid #ccc;
    padding: 3%;
    border-radius: 4px;
    cursor: pointer;
}


.links {
    margin-top: 15%;
}

a + a {
    margin-left: 20px; 
}

.kakao-login-button {
    margin-top: 2%;
    margin-left: 3%;
    display: inline-block;
    width: 100%;
    background-color: #FFEB00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

.kakao-login-button img{
    width: 4%;
    height: 2%;
    margin-top: 1%;
    margin-right: 1%;
}

