
a{
    text-decoration: none;
    color: black;
}

.container {
    width: 50%;
    margin-top:100px;
    margin: 100px auto;
    padding: 8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20%;
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
}

.form-group > .username, 
.form-group > .password {
    width: 100%;
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group1 > .remember{
    margin-left: -5%;
}

.form-group1 > .keepLoggedIn{
    margin-left: 30%;
}

.form-group2 {
    margin-top: 5%;
}

.form-group2 > .submit{
    width: 100%;
    background-color: #FF6B00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
    border: 1px solid #ccc;
    padding: 3%;
    border-radius: 4px;
    cursor: pointer;
}


.links {
    margin-top: 15%;
}

a + a {
    margin-left: 20px; 
}

.wrap {
   width: 490px;
   padding: 40px 20px 20px 20px;
   background-color: #f5f6f7;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 30px;
   box-sizing: border-box;
}

.title {
   margin: 0 auto;
    width: 240px;
    height: 44px;
    text-align: center;
    font-size: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    margin-bottom: 20px;
}
.kakao{
   margin-top: 15px;
   height: 60px;
   border: solid 1px #FEE500;
   background: #FEE500;
   color: #3c1d1e;
   font-size: 18px; 
   box-sizing: border-box;
   border-radius: 5px;
   cursor: pointer;
   width: 450px;
   display: flex;
}
.kakao_i{
   background: url(resources/icons/kakao.png) no-repeat;
   width: 40px;
   height: 100%;
   background-size: 90%;
   background-position: 50%;
   margin: 0 20px;
}
.kakao_txt{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   padding-right: 60px;
}

a {
   text-decoration: none;
}
