@charset "UTF-8";

.mypage_main_container {
	width: 100%;
	height: 100%;
	margin-top: 100px;
}

.mypage_main_div {
	width: 60%;
	margin: 0 auto;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mypage_mainInfo_left {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
}

.mypage_mainInfo_left_div {
	width: 100%;
	margin: 0 auto;
	display: flex;
	/* text-align: center; */
	padding: 0px 30px 0px 30px;
	height: 100%;
	align-items: center;
}

.mypage_profile_img {
	margin-right: 25%;
}

.mypage_profile_img>img {
	border-radius: 50%;
}

.mypage_profile_main_info {
	width: 100%;
	display: block;
	text-align: start;
}

.mypage_profile_span {
	text-align: start;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
}

.fs13 {
	font-size: 13px;
}

.mypage_mainInfo_right {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: start;
	align-items: center;
}

.mypage_profile_a {
	text-decoration: none;
	text-align: start;
	margin-top: 10%;
	width: 100%;
}

.mypage_profile_a>a {
	text-decoration: none;
	color: white;
	text-align: start;
	margin-top: 3%;
	border: none;
	padding: 4px 20px;
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: 700;
}

.mypage_mainInfo_right {
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	position: relative;
	width: 50%;
}

.mypage_profile_manner_div {
	position: absolute;
	top: 20%;
	left: 5%;
	width: 80%;
}

.mypage_profile_manner_span {
	padding-right: 3%;
	font-weight: 700;
	color: #0cb650;
}

.progress_bar_div {
	margin-top: 3%;
}

.mypage_profile_sub_info {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mypage_chatCount_div {
	margin-top: 5%;
	width: 30%;
	text-align: center;
	font-weight: 700;
}

.myapge_write_product {
	width: 100%;
}

.myapge_write_product_container {
	width: 60%;
	margin: 0 auto;
	margin-top: 1%;
	font-weight: 700;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px 20px;
}

.myapge_write_product_div {
	display: flex;
	align-items: center;
	margin-top: 1%;
	padding: 10px 0px;
}

.myapge_write_product_title {
	text-align: start;
	margin-left: 5%;
}